body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, gray, lightgray, gray)
}

header {
    background-color: darkred;
    color: white;
    height: auto;
}

#left_img {
    float: left;
}

.main-body {
    display: block;
    position: relative;
    color: rgb(30, 30, 30);
}

footer {
    background-color: rgb(50, 50, 50);
    background-size: 100%;
    color: lightgray;
}

footer>h2 {
    color: aliceblue;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 16px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

table {
    border: 1px solid black;
    display: table;
    margin: 0 auto;
}

a:link {
    color: dodgerblue;
}

a:visited {
    color: violet;
}

a:hover {
    color: mediumseagreen;
}

ol {
    list-style: upper-roman;
}

ul {
    display: table;
    margin: 0 auto;
    font-weight: bold;
}

.cloak {
    width: 20px;
    height: 20px;
    background-color: black;

    padding: 10px;
    padding-left: 50%;
    padding-right: 50%;
    animation: cloakAnimation 2s infinite;
}

@keyframes cloakAnimation {

    0%,
    50% {
        background-color: whitesmoke;
    }

    100% {
        background-color: black;
    }
}

#quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.gameName {
    background-color: lightblue;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    min-width: 150px;
    cursor: pointer;
}

.description {
    background-color: whitesmoke;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
}

.correct {
    background-color: green;
    pointer-events: none;
}

#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: brown;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

/* Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 18%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* Close Button */
.close {
    margin-left: 80%;
    margin-bottom:-2%;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}