body {
    text-align: center;
    /* background-color: whitesmoke; */
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, gray, lightgray, gray)
}

header {
    background-color: darkred;
    color: white;
    height: auto;
}

#left_img {
    float: left;
}

.main-body {
    display: block;
    position: relative;
    color: rgb(30, 30, 30);
}

footer {
    background-color: rgb(50, 50, 50);
    background-size: 100%;
    color: lightgray;
}

footer>h2 {
    color: aliceblue;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 16px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

table {
    border: 1px solid black;
    display: table;
    margin: 0 auto;
}

a:link {
    color: dodgerblue;
}

a:visited {
    color: violet;
}

a:hover {
    color: mediumseagreen;
}

ol {
    list-style: upper-roman;
}

ul {
    display: table;
    margin: 0 auto;
    font-weight: bold;
}

li.completed {
    background-color: #d3ffd3;
    text-decoration: line-through;
}

button.deleteButton {
    position: relative;
    left: 30px;
}

.cloak {
    width: 20px;
    height: 20px;
    background-color: black;

    padding: 10px;
    padding-left: 50%;
    padding-right: 50%;
    animation: cloakAnimation 2s infinite;
}

@keyframes cloakAnimation {

    0%,
    100% {
        background-color: black;
    }

    50% {
        background-color: whitesmoke;
    }
}